@media (min-width: 480px) {
    .frame {
        .oti {
            width: 50%;
        }
    }
  
}

@media (min-width: 768px) {
    body {
        flex-direction: row;
        height: 100vh;
    }
    .card-one {
        width: 45%;
        height: 80vh;
        border-radius: 10px 0px 0px 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        .flag-left {
            visibility: hidden;
        }
        .first-block {
            height: 50%;
            margin-top: 0;
        }
        .second-block {
            height: 50%;
            display: flex;
            flex-direction: row;
            /* position: relative; */
            align-items: flex-end;
            .presents {
                visibility: visible;
                width: 50%;
                font-size: 60px;
                /* position: absolute;
                bottom: 0%;
                left: 0%; */
                margin-bottom: 0%;
                .fa-gift {
                    color: #75c3aa;
                    left: 8%;
                }
                .fa-gifts {
                    color:#fece58;
                    left: 25%;
                }
            }
            .frame {
                width: 50%;
                /* position: absolute;
                bottom: 0%;
                right: 0%; */
                h1 {
                    font-family: 'Poppins', sans-serif;
                    color: #7093d0;
                    font-size: 35px;
                    text-align: center;
                }
                .oti {
                    width: 100%;
                }
            }
        }
    }
    .card-two {
        width: 45%;
        height: auto;
        height: 80vh;
        border-radius: 0px 10px 10px 0px;
        .zenon {
            width: 60%;
            top: 25%;
            left: 20%;
        }
    }
}