* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: auto;
  background: #FFEFBA;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #FFEFBA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 0%;
}

.card-one {
  width: 90vw;
  height: auto;
  background: #ecf0fb;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.card-one .flag-left {
  width: 40%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.card-one .fa-cloud-sun {
  font-size: 80px;
  color: #fece58;
  position: absolute;
  top: 5%;
  right: 5%;
  -webkit-animation: start 4s infinite;
          animation: start 4s infinite;
}
.card-one .first-block {
  width: 100%;
  margin-top: 25%;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
  color: #7093d0;
}
.card-one .first-block input {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #ecf0fb;
  border: #7093d0 2px solid;
}
.card-one .first-block input :focus {
  border: #2193b0 2px solid;
}
.card-one .first-block button {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  background-color: #7093d0;
  margin-top: 15px;
  border: none;
  color: #FFFFFF;
  transition: all 0.5s;
}
.card-one .first-block button :hover {
  background-color: #2193b0;
  color: #FFFFFF;
}
.card-one .second-block {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.card-one .second-block .presents {
  visibility: hidden;
}
.card-one .second-block .frame {
  width: 100%;
  align-items: center;
}
.card-one .second-block .frame h1 {
  font-family: "Poppins", sans-serif;
  color: #7093d0;
  font-size: 40px;
}
.card-one .second-block .frame .oti {
  width: 100%;
  height: 93%;
}

.card-two {
  width: 90vw;
  height: 700px;
  background: #2193b0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.card-two .flag-right {
  width: 40%;
  position: absolute;
  top: 0%;
  right: 0%;
}
.card-two .zenon {
  width: 80%;
  position: absolute;
  top: 25%;
  left: 10%;
}
.card-two .star-one {
  font-size: 25px;
  color: #fece58;
  position: absolute;
  top: 30%;
  right: 25%;
  -webkit-animation: start 4s infinite;
          animation: start 4s infinite;
}
.card-two .star-two {
  font-size: 30px;
  color: #f18fba;
  position: absolute;
  top: 20%;
  left: 20%;
  -webkit-animation: start 4s infinite;
          animation: start 4s infinite;
}
.card-two .star-three {
  font-size: 25px;
  color: #fece58;
  position: absolute;
  top: 60%;
  left: 10%;
  -webkit-animation: start 4s infinite;
          animation: start 4s infinite;
}
.card-two .star-four {
  font-size: 35px;
  color: #f095bb;
  position: absolute;
  bottom: 15%;
  right: 30%;
  -webkit-animation: start 4s infinite;
          animation: start 4s infinite;
}
.card-two .rectangle-one {
  width: 150px;
  height: 40px;
  background-color: #fece58;
  opacity: 0.9;
  position: absolute;
  border-radius: 3px;
  bottom: 28%;
  right: 5%;
}
.card-two .rectangle-one p {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 40PX;
  text-align: center;
}
.card-two .rectangle-two {
  width: 150px;
  height: 40px;
  background-color: #75c3aa;
  opacity: 0.9;
  position: absolute;
  border-radius: 3px;
  bottom: 10%;
  left: 10%;
}
.card-two .rectangle-two p {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.card-two .circle-one {
  width: 80px;
  height: 80px;
  background-color: #f4b7ae;
  opacity: 0.9;
  position: absolute;
  border-radius: 50%;
  top: 5%;
  left: 30%;
}
.card-two .circle-one p {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}
.card-two .circle-two {
  width: 30px;
  height: 30px;
  background-color: #75c3aa;
  opacity: 0.9;
  position: absolute;
  border-radius: 50%;
  bottom: 5%;
  right: 10%;
  -webkit-animation: start 4s infinite;
          animation: start 4s infinite;
}

@-webkit-keyframes start {
  0% {
    opacity: 0%;
  }
  25% {
    transform: translateY(-15px);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes start {
  0% {
    opacity: 0%;
  }
  25% {
    transform: translateY(-15px);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@media (min-width: 480px) {
  .frame .oti {
    width: 50%;
  }
}
@media (min-width: 768px) {
  body {
    flex-direction: row;
    height: 100vh;
  }

  .card-one {
    width: 45%;
    height: 80vh;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .card-one .flag-left {
    visibility: hidden;
  }
  .card-one .first-block {
    height: 50%;
    margin-top: 0;
  }
  .card-one .second-block {
    height: 50%;
    display: flex;
    flex-direction: row;
    /* position: relative; */
    align-items: flex-end;
  }
  .card-one .second-block .presents {
    visibility: visible;
    width: 50%;
    font-size: 60px;
    /* position: absolute;
    bottom: 0%;
    left: 0%; */
    margin-bottom: 0%;
  }
  .card-one .second-block .presents .fa-gift {
    color: #75c3aa;
    left: 8%;
  }
  .card-one .second-block .presents .fa-gifts {
    color: #fece58;
    left: 25%;
  }
  .card-one .second-block .frame {
    width: 50%;
    /* position: absolute;
    bottom: 0%;
    right: 0%; */
  }
  .card-one .second-block .frame h1 {
    font-family: "Poppins", sans-serif;
    color: #7093d0;
    font-size: 35px;
    text-align: center;
  }
  .card-one .second-block .frame .oti {
    width: 100%;
  }

  .card-two {
    width: 45%;
    height: auto;
    height: 80vh;
    border-radius: 0px 10px 10px 0px;
  }
  .card-two .zenon {
    width: 60%;
    top: 25%;
    left: 20%;
  }
}/*# sourceMappingURL=styles.css.map */