* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #7093d0;
    width: 100vw;
    height: auto;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0%;
}
.card-one {
    width: 80vw;
    height: 60vh;
    background: #ecf0fb;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}
.frame {
    width: 45%;
    position: absolute;
    bottom: 0%;
    right: 3%;
}
.oti {
    width: 100%;
}

.flag-left {
    width: 40%;
    position: absolute;
    top: 0%;
    left: 0%;
}
.card-one .info {
    width: 45%;
    margin-top: 25%;
    margin-left: 5%;
}
h1 {
    font-family:'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-right: 3%;
}
.fa-cloud-sun {
    font-size: 80px;
    color: #fece58;
    position: absolute;
    top: 5%;
    right: 5%;
    animation: start 4s infinite;
}
.fa-gift {
    font-size: 60px;
    color: #75c3aa;
    position: absolute;
    bottom: 5%;
    left: 8%;
}
.fa-gifts {
    font-size: 60px;
    color:#fece58;
    position: absolute;
    bottom: 5%;
    left: 25%;
}

input {
    width: 180px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    background-color:#ecf0fb;
    border: #7093d0 2px solid;
}
input:focus {
    border: #2193b0 2px solid;
}
button {
    width: 180px;
    height: 30px;
    border-radius: 5px;
    background-color: #7093d0;
    margin-top: 15px;
    border: none;
    color: #FFFFFF;
    transition: all 0.5s;
}
button:hover {
    background-color: #2193b0;
    color: #FFFFFF;
}
.card-two {
    width: 80vw;
    height: 60vh;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}
.card-two .zenon {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}
.flag-right {
    width: 40%;
    position: absolute;
    top: 0%;
    right: 0%;
}
.star1 {
    font-size: 25px;
    color: #fece58;
    position: absolute;
    top: 30%;
    right: 25%;
    animation: start 4s infinite; 
}
.star2 {
    font-size: 30px;
    color: #f18fba;
    position: absolute;
    top: 20%;
    left: 20%;
    animation: start 4s infinite;  
}
.star3 {
    font-size: 25px;
    color: #fece58;
    position: absolute;
    top: 60%;
    left: 10%;  
    animation: start 4s infinite;
}
.star4 {
    font-size: 35px;
    color: #f095bb;
    position: absolute;
    bottom: 15%;
    right: 30%;
    animation: start 4s infinite;  
}
.rectangulo1 {
    width: 150px;
    height: 40px;
    background-color: #fece58;
    opacity: 0.9;
    position: absolute;
    border-radius: 3px;
    bottom: 28%;
    right: 5%;
}
.rectangulo1 p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 40PX;
    text-align: center;
}
.rectangulo2 {
    width: 150px;
    height: 40px;
    background-color: #75c3aa;
    opacity: 0.9;
    position: absolute;
    border-radius: 3px;
    bottom: 10%;
    left: 10%;
}

.rectangulo2 p {
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.circulo1 {
    width: 80px;
    height: 80px;
    background-color:#f4b7ae;
    opacity: 0.9;
    position: absolute;
    border-radius: 50%;
    top: 5%;
    left: 30%;
}
.circulo1 p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}
.circulo2 {
    width: 30px;
    height: 30px;
    background-color: #75c3aa;
    opacity: 0.9;
    position: absolute;
    border-radius: 50%;
    bottom: 5%;
    right: 10%;
    animation: start 4s infinite; 
}
@keyframes start {
    0% {opacity: 0%}
    25% {transform: translateY(-15px); opacity: 100%;}
    100% {opacity: 0%}
}

@media (min-width: 480px) {
    .fa-gift {
        left: 8%;
    }
    .fa-gifts {
        left: 18%;
    }
}

@media (min-width: 768px) {
    body {
        flex-direction: row;
    }
    .card-one {
        width: 45vw;
        height: 80vh;
        border-radius: 10px 0px 0px 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    }
    .fa-cloud-sun {
        right: 15%;
    }
    .fa-gift {
        left: 8%;
    }
    .fa-gifts {
        left: 20%;
    }
    .card-two {
        width: 45vw;
        height: 80vh;
        border-radius: 0px 10px 10px 0px;
    }
    .rectangulo2 {
        left: -2%;
    }
    .circulo1 {
        top: 10%;
        left: -8%;
    }
}